<div class="game-content">
  <h1>Toy Robot Simulation</h1>

  <div class="tabletop">
    <div
      class="robot"
      [style.left.px]="robot.x * 100"
      [style.top.px]="robot.y * 100"
      [style.transform]="'rotate(' + robot.currentRotation + 'deg)'"
    >
      <img src="assets/icons/robot.png" alt="Robot" />
    </div>
  </div>
  <br />
  <button (click)="move()">MOVE</button>
  <button (click)="turnLeft()">TURN LEFT</button>
  <button (click)="turnRight()">TURN RIGHT</button>
  <button (click)="report()">REPORT</button>
</div>
