<div class="game-content">
  <h1 class="title">Robot Simulation</h1>

  <div class="tabletop">
    <div
      class="robot"
      [style.left.px]="robot.x * (robot.tableTopWidth / 5)"
      [style.top.px]="robot.y * (robot.tableTopWidth / 5)"
      [style.transform]="'rotate(' + robot.currentRotation + 'deg)'"
    >
      <img src="assets/icons/robot.png" alt="Robot" />
    </div>
  </div>
  <br />
  <button class="move-btn" (click)="move()">MOVE</button>
  <button class="turn-left-btn" (click)="turnLeft()">TURN LEFT</button>
  <button class="turn-right-btn" (click)="turnRight()">TURN RIGHT</button>
  <button class="report-btn" (click)="report()">REPORT</button>
</div>
