<div class="game-content">
  <h1 class="title">Robot Simulation</h1>

  <div class="instructions">
    Please click to one position on table to put the robot!
  </div>

  <div class="tabletop" (click)="place($event)">
    <div
      *ngIf="robot.placed"
      class="robot"
      [style.left.px]="robot.x * (robot.tableTopWidth / 5)"
      [style.top.px]="robot.y * (robot.tableTopWidth / 5)"
      [style.transform]="'rotate(' + robot.currentRotation + 'deg)'"
    >
      <img src="assets/icons/robot.png" alt="Robot" />
    </div>
  </div>
  <br />
  <button
    [disabled]="!robot.placed"
    class="control-btn move-btn"
    (click)="move()"
  >
    MOVE
  </button>
  <button
    [disabled]="!robot.placed"
    class="control-btn turn-left-btn"
    (click)="turnLeft()"
  >
    TURN LEFT
  </button>
  <button
    [disabled]="!robot.placed"
    class="control-btn turn-right-btn"
    (click)="turnRight()"
  >
    TURN RIGHT
  </button>
  <button
    [disabled]="!robot.placed"
    class="control-btn report-btn"
    (click)="report()"
  >
    REPORT
  </button>
</div>
